body{
    display: grid;
    grid:                "header contacts contacts contacts" 
                         "header post post post"
                         "header post post post"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;     
    background-color: #c6dcee;                
}

@media(max-width: 425px){
     body{
        display: grid;
        grid:         "contacts"
                      "post"
                      "post"
                      "post"
                      "post"
                      "post"
                      "footer";
        grid-template-columns: repeat(5, 1fr);
     }
}




/*HEADER*/

.header{
    grid-area: header;
    
}

.header .header-container{
    display: flex;
    flex-direction: column;
    margin-top:50px;
    margin-left: 30px;
    align-items: center;
    background-color: #fff;
    box-shadow: 4px 4px 4px 4px #ccc;
}

.header img{
    border: 1px solid #000;
    margin-top: 50px;
    border-radius: 50%;
    height: 170px;
    width: 170px;}

.header h1{
    align-items: center;
    font-size: 40px;
    margin: 20px;
    padding-top: 30px;
    font-weight: 700;
    text-align: center;
}

.header p{
    font-size: 20px;
    padding-top:50px;
    margin: 20px;
    align-items: center;
    text-align:center;
    font-weight: 500;
}
.header .paradox{
    font-size: 12px;
    padding-bottom: 20px;
}

@media(max-width: 600px){

    .header{
    display:none;

    
}}

/*MENU*/

.contacts{
    grid-area: contacts;
    margin-top: 50px;

}

 .contacts .contacts-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.contacts .contacts-list .btn a {

    background-color: #298edb;
    width: 220px;
    height: 100px;
    border-radius: 30px;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    text-shadow: none;
}

.contacts .contacts-list .btn a:hover{
    background-color: #035899;
}

@media(max-width: 425px){
 
    .contacts{
        grid-area: contacts;
        
    }

}

/*POST*/

.post{
    grid-area: post;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post .content{
    box-shadow: 2px 2px 2px 2px #ccc;
    margin: 30px;
    width: 350px;
    height: 450px;
    padding: 30px;
    background-color: #fff;
}

.post .content p{
    font-size: 12px;
    text-align:left;
    font-weight: 700;
    line-height: 20px;
}

.post .content img{
    margin-top: 20px;
    height: 150px;
    width: 300px;
}

@media(max-width: 425px){
    .post{
        grid-area: post; 
       
    }
}
  
/*FOOTER*/


footer{
    grid-area: footer;
}

footer .footer{
    display: flex;
    margin: 30px;
    justify-content: center;
}

footer .footer p{
    font-size: 15px;
    font-weight: 500;
}